.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title {
	font-weight: $font-bold;
	color: $dark;
}

.message {
	font-weight: $font-regular;
	font-size: $font-sm;
	color: $secondary-foreground;
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: end;
}
