@use "../../../../../styles/variables.scss" as *;

.piechart__container{
	display: flex;
	flex-direction: column;

	@media (min-width: $breakpoint-sm) {
		flex-direction: row;
		align-items: center;
		gap: 2rem;
	}

	@media(min-width: $breakpoint-lg) {
		flex-direction: column;
		gap: 0;
		max-width: 200px;
	}
}

.piechart{
	width: 100%;
	height: 300px;
	min-width: 200px;
	min-height: 200px;
}

.piechart__infoList{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;

	.piechart__dotlist{
		width: 15px;
		height: 15px;
		border-radius: 50%;
	}

	.piechart_info_type{
		color: $dark;
	}

	.piechart__info_value{
		color: $secondary-foreground;
	}
}

